@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 5% 15%;
 
    --card: 0 0% 100%;
    --card-foreground: 240 5% 15%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 5% 15%;
 
    --primary: 39 96% 54%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 240 47% 30%;
    --secondary-foreground: 0 0% 100%;
 
    --muted: 0 0% 96%;
    --muted-foreground: 240 5% 15%;
 
    --accent: 240 5% 15%;
    --accent-foreground: 0 0% 100%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5% 84%;
    --input: 240 5% 84%;
    --ring: 39 96% 54%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* //loading */

@keyframes barLoader {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.animate-barLoader {
  animation: barLoader 2s linear infinite;
}
